.backdrop{
    background-image: url("hexagon.jpg");
    border-radius: 10px;
}

h1{
    color:#124C5B;
    font-weight: 700;
    padding: 3em
}
.title{
    color:#124C5B;
    font-size: 4em;
    font-weight: 700;
    padding: 0.5em
}

h3{
    color:#124C5B;
    font-weight: 500;
    padding: 1em
}
.banner{
    height: 35%;
}
.margin{
    margin-top : 20px;
}
.padding{
    padding :1em;
}
.background{
    background-color:rgb(14, 11, 14);
}

input{
    border-color: #C19C70;
    border-radius: 10px;
    color:#124C5B;
}
.buttonstyle{
    background-color: #124C5B;
    border-radius: 10px;
    border: 0px;
    padding: 0.5em;
    color: azure;
    margin: 2em;
}
label{
    color:white;
}
.white{color: white;}